<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layoutNavegacion}">

<head th:insert="~{layout/layoutNavegacion :: head}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<title>FORMULARIO CREAR PARROQUIAS</title>

</head>

<Body>
	<nav th:insert="~{layout/layoutNavegacion :: navbar}">

	</nav>

	<aside th:insert="~{layout/layoutNavegacion :: aside}">

	</aside>
	<!--<a th:href="@{/parroquias/}">
            <button class="btn btn-success" type="submit" $theme-colors="success">Volver Administracion</button>
        </a>-->

	<div class="content-wrapper">
		<div class="container-fluid text-center" style="padding-left: 25%;">
			<div class="col-lg-8 d-flex aling-items-stretch">
				<div class="card w-100 mt-5">
					<div class="card-header fw-semibold mb-4">REGISTRO ENCARGADO</div>
					<div class="card-body p-4" style="margin-left: 15%; margin-right: 15%;">
						<form th:action="@{/encargado/guardarEncargado}" method="post" th:object="${ObjEncargado}">
							<div>
								<div class="row text-center">
									<div>
										<label for="nombre" class="form-label"> Nombre Encargado</label>
										<input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre"
											required>
									</div>
			
									<div>
										<label for="apellido" class="form-label"> Apellido del Encargado</label>
										<input type="text" class="form-control" th:field="*{apellido}" id="apellido" name="apellido"
											required>
									</div>
			
									<div>
										<label for="cedula" class="form-label"> Cedula del Encargado</label>
										<input type="text" class="form-control" th:field="*{cedula}" id="cedula" name="cedula"
											required>
									</div>
			
									<div>
										<label for="telefono" class="form-label"> Telefono</label>
										<input type="text" class="form-control" th:field="*{telefono}" id="telefono" name="telefono"
											required>
									</div>
			
									<div>
										<label for="email" class="form-label"> Email</label>
										<input type="email" class="form-control" th:field="*{email}" id="email" name="email"
											required>
									</div>
									
									<div>
										<label for="vicaria" class="form-label"> Curia/Pertenece</label>
										<!--<input type="text" class="form-control" th:field="*{vicaria}" id="vicaria"
										name="vicaria" required>-->
										<select class="form-control" name="select" th:field="*{curia}">
											<option th:each="Curias:${listaCurias}" th:value="${Curias.id}"
												th:text="${Curias.nombre}">
											</option>
										</select>
			
									</div>
			
								</div>
								<div class="text-center mt-5">
									<button class="btn btn-primary " type="submit">Guardar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	<script src="" th:src="@{/js/bootstrap/jquery.js}"></script>


</Body>

</html>