<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layoutNavegacion}">

<head th:insert="~{layout/layoutNavegacion :: head}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<title>LISTA DE ENCARGADOS</title>
</head>

<body class="sidebar-mini layout-fixed">
	<nav th:insert="~{layout/layoutNavegacion :: navbar}">

	</nav>

	<aside th:insert="~{layout/layoutNavegacion :: aside}">

	</aside>
	<!--<a th:href="@{/principal/}">
		<button class="btn btn-success" type="submit" $theme-colors="success">Pagina Principal</button>
		</a>-->
	<div class="content-wrapper" id="fondo" layout:fragment="page-content">
		<div class="container text-center">
			<H1>Lista de encargados</H1>
			<br>
			<H2>Crear encargados</H2>
			<br>
			<a th:href="@{/encargado/formularioCrearEncargado}">
				<button class="btn btn-primary" type="submit">Nuevo Encargado</button>
			</a>
			<div class="text-center mt-5">
				<table class="table table-bordered">
	
					<thead>
						<tr>
							<th>Id Encargado</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Cedula</th>
							<th>Telefono</th>
							<th>Email</th>
							<th>Curia</th>
							<th>Eliminar</th>
							<th>Actualizar</th>
						</tr>
	
					</thead>
					<tbody>
						<tr th:each="Encargado:${listaEncargados}">
							<td th:text="${Encargado.id}"></td>
							<td th:text="${Encargado.nombre}"></td>
							<td th:text="${Encargado.apellido}"></td>
							<td th:text="${Encargado.cedula}"></td>
							<td th:text="${Encargado.telefono}"></td>
							<td th:text="${Encargado.email}"></td>
							<td th:text="${Encargado.curia.nombre}"></td>
							<td>
								<a
									th:href="@{/encargado/eliminarEncargado/{idEncargado}(idEncargado=${Encargado.id})}">
									<button type="button" class="btn btn-outline-danger">ELIMINAR</button>
								</a>
							</td>
							<td>
								<a
									th:href="@{/encargado/formularioActualizarEncargado/{idEncargado}(idEncargado=${Encargado.id})}">
									<button type="button" class="btn btn-outline-info">ACTUALIZAR</button>
								</a>
							</td>
	
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


</body>
<script src="" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script src="" th:src="@{/js/bootstrap/jquery.js}"></script>

</html>