<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layoutNavegacion}">

<head th:insert="~{layout/layoutNavegacion :: head}">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="" th:href="@{/css/bootstrap/bootstrap.min.css}" />
	<title>LISTA DE DOCUMENTOS</title>
</head>

<body>
	<nav th:insert="~{layout/layoutNavegacion :: navbar}"></nav>

	<aside th:insert="~{layout/layoutNavegacion :: aside}"></aside>
	<!--<a th:href="@{/principal/}">
		<button class="btn btn-success" type="submit" $theme-colors="success">Pagina Principal</button>
		</a>-->
	<div class="content-wrapper" layout:fragment="page-content">
		<div class="container text-center">
			<h1 th:text="'Lista de documentos ' + ${acg.nombreACG}">
				Lista de Documentos
			</h1>
			<p th:text="'parroquia ' +  ${parroquia.nombre}"></p>

			<h2>Agregar más Documentos</h2>
			<div class="alert alert-info" role="alert" th:if="${!#strings.isEmpty(msg)}" th:text="${msg}">
				A simple primary alert—check it out!
			</div>

			<a
				th:href="@{/documento/formularioAgregar/{idParroquia}/{idAcg}(idParroquia=${parroquia.id},idAcg=${acg.idACG})}">
				<button class="btn btn-primary" type="submit">Agregar</button>
			</a>


			<div class="text-center mt-5">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Accion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="documento :${ListaDocumentos}">
							<td
								th:if="${documento.tipo} == 'application/pdf' or ${#strings.contains(documento.tipo,'image/')}">
								<a th:href="@{/documento/vistaPrevia/{fileName}(fileName=${documento.nombreDocumento})}"
									target="_blank"><span th:text="${documento.nombreDocumento}"></span></a>
							</td>

							<td
								th:unless="${documento.tipo} == 'application/pdf' or ${#strings.contains(documento.tipo,'image/')}">
								<span th:text="${documento.nombreDocumento}"></span>
							</td>

							<td>
								<a
									th:href="@{/documento/eliminar/{fileName}/{idDocumento}(fileName=${documento.nombreDocumento}, idDocumento=${documento.idDocumento})}">
									<button type="button" class="btn btn-outline-danger">
										ELIMINAR
									</button>
								</a>
								<a th:href="@{/documento/descargar/{fileName}(fileName=${documento.nombreDocumento})}"
									target="_blank">
									<button type="button" class="btn btn-outline-info">
										DESCARGAR
									</button>
								</a>
							</td>
						</tr>
					</tbody>
				</table>



			</div>

		</div>

	</div>
	<!--div id="toast-container" class="toast-top-right" th:if="${!#strings.isEmpty(msg)}">
		<div class="toast toast-success show">
			<div class="toast-message" th:text="${msg}">

			</div>
		</div>
	</div-->
</body>
<script src="" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script src="" th:src="@{/js/bootstrap/jquery.js}"></script>

</html>