<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layoutNavegacion}">

<head th:insert="~{layout/layoutNavegacion :: head}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<title>LISTA DE USUARIOS</title>
</head>

<body>
	<nav th:insert="~{layout/layoutNavegacion :: navbar}">

	</nav>

	<aside th:insert="~{layout/layoutNavegacion :: aside}">

	</aside>
	<!--<a th:href="@{/principal/}">
		<button class="btn btn-success" type="submit" $theme-colors="success">Pagina Principal</button>
		</a>-->
	<div class="container text-center">
		<H1>Lista de Usuarios</H1>
		<br>
		<H2>Crear Usuario</H2>
		<br>
		<a th:href="@{/usuario/formularioCrearUsuario}">
			<button class="btn btn-primary" type="submit">Nuevo Usuario</button>
		</a>
	</div>
	<br>
	<br>
	<div class="container text-center">
		<table class="table table-bordered">

			<thead>
				<tr>
					<th>Id Usuario</th>
					<th>Nombre </th>
					<th>Apellido</th>
					<th>Cedula</th>
					<th>Telefono</th>
					<th>Email</th>
					<th>Rol Usuario</th>
					<th>Parroquia/Pertenece</th>
					<th>Eliminar</th>
					<th>Actualizar</th>
				</tr>

			</thead>
			<tbody>
				<tr th:each="Usuario:${listaUsuarios}">
					<td th:text="${Usuario.id}"></td>
					<td th:text="${Usuario.nombre}"></td>
					<td th:text="${Usuario.apellido}"></td>
					<td th:text="${Usuario.cedula}"></td>
					<td th:text="${Usuario.telefono}"></td>
					<td th:text="${Usuario.email}"></td>
					<td th:text="${Usuario.rolUsuario}"></td>
					<td th:text="${Usuario.parroquia.nombre}"></td>
					<td>
						<a th:href="@{/usuario/eliminarUsuario/{idUsuario}(idUsuario=${Usuario.id})}">
							<button type="button" class="btn btn-outline-danger">ELIMINAR</button>
						</a>
					</td>
					<td>
						<a th:href="@{/usuario/formularioActualizarUsuario/{idUsuario}(idUsuario=${Usuario.id})}">
							<button type="button" class="btn btn-outline-info">ACTUALIZAR</button>
						</a>
					</td>

				</tr>
			</tbody>
		</table>
	</div>


</body>
<script src="" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script src="" th:src="@{/js/bootstrap/jquery.js}"></script>

</html>