<!DOCTYPE html>

<html lang="en" layout:decorate="~{layout/layoutNavegacion}">

<head th:insert="~{layout/layoutNavegacion :: head}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="@{/css/style.css}">
	<link rel="stylesheet" href="" th:href="@{/css/bootstrap/bootstrap.min.css}">
	
	<title>LISTA DE CURIAS</title>
</head>

<body class="sidebar-mini layout-fixed">
	<nav th:insert="~{layout/layoutNavegacion :: navbar}">

	</nav>

	<aside th:insert="~{layout/layoutNavegacion :: aside}">

	</aside>
	<!--<a th:href="@{/principal/}">
		<button class="btn btn-success" type="submit" $theme-colors="success">Pagina Principal</button>
		</a>-->
	<div class="content-wrapper" id="fondo"  layout:fragment="page-content">
		<div class="container text-center">
			<H1>Lista de Curias</H1>
			<br>
			<H2>Crear Curia</H2>
			<br>
			<a th:href="@{/curia/formularioCrearCuria}">
				<button class="btn btn-primary" type="submit">Nueva Curia</button>
			</a>
			
		<div  th:insert="~{layout/layoutNavegacion :: buscador}"></div>
		
			
			<div class="mt-4">
				<table class="table table-bordered">

					<thead>
						<tr>
							<th>Id Curia</th>
							<th>Nombre </th>
							<th>Direccion</th>
							<th>Telefono</th>
							<th>Ciudad</th>
							<th>Email</th>
							<th>Eliminar</th>
							<th>Actualizar</th>
						</tr>
	
					</thead>
					<tbody>
						<tr th:each="Curia:${listaCurias.getContent}">
							<td th:text="${Curia.id}"></td>
							<td th:text="${Curia.nombre}"></td>
							<td th:text="${Curia.direccion}"></td>
							
							
							<td th:text="${Curia.telefono}"></td>
							<td th:text="${Curia.ciudad}"></td>
							<td th:text="${Curia.Email}"></td>
							
							<td>
								<a th:href="@{/curia/eliminarCuria/{id}(id=${Curia.id})}">
									<button type="button" class="btn btn-outline-danger" onclick="eliminar()">ELIMINAR</button>
								</a>
							</td>
							<td>
								<a th:href="@{/curia/formularioActualizarCuria/{id}(id=${Curia.id})}">
									<button type="button" class="btn btn-outline-info">ACTUALIZAR</button>
								</a>
							</td>
	
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="d-flex justify-content-center sm" th:if="${not #lists.isEmpty(listaCurias.getContent)}">
			<nav aria-label="...">
				<ul class="pagination pagination-lg">
					<li class="page-item " aria-current="page" th:each="i: ${#numbers.sequence(0,listaCurias.getTotalPages-1)}">
						<a th:href="@{/curia/listar(palabra=${palabra},page=${i})}" th:text="${i}" class="page-link"
							th:classappend="${currentPage}==${i}?'active':''"></a>
					</li>
				</ul>
			</nav>
			
		</div>
	</div>
	
	
	<script src="" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	<script src="" th:src="@{/js/bootstrap/jquery.js}"></script>
	<script th:src="@{/js/sweetalert2/sweetalert2.all.min.js}"></script>
	<script th:src="@{/js/alertas.js}"></script>
	<script th:src="@{/js/page.js}"></script>
	<script th:inline="javascript">
		
		
		/*<![CDATA[*/

	    var icon = /*[[${message.icon}]]*/'';
	    var title = /*[[${message.title}]]*/'';
	    if(icon){
	    console.log(icon);
	    Swal.fire({timer:3000,
        position: "top-end",
        icon: icon,
		title:title,
        showConfirmButton: false,
    	});
    	}

		/*]]>*/
		

	</script>

</body>

	
</html>