<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layoutNavegacion}">

<head th:insert="~{layout/layoutNavegacion :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <title>LISTA DE PARROQUIAS</title>
</head>

<body class="sidebar-mini layout-fixed">
    <nav th:insert="~{layout/layoutNavegacion :: navbar}">

    </nav>

    <aside th:insert="~{layout/layoutNavegacion :: aside}">
        
    </aside>
    <div class="content-wrapper" id="fondo" layout:fragment="page-content">
        <!--<a th:href="@{/principal/}">
		<button class="btn btn-success" type="submit" $theme-colors="success">Pagina Principal</button>
		</a>-->
        <div class="container text-center">
            <H1>Lista de Parroquias</H1>
            <br>
            <H2>Crear Parroquias</H2>
            <br>
            <a th:href="@{/parroquias/formularioParroquias}">
                <button class="btn btn-primary" type="submit">Nueva Parroquia</button>
            </a>
            
            <div  th:insert="~{layout/layoutNavegacion :: buscador}"></div>
            <div class="text-center mt-5">
                <table class="table table-bordered">
    
                    <thead>
                        <tr>
                            <th>Id Parroquia</th>
                            <th>Nombre </th>
                            <th>Direccion</th>
                             <th>Ciudad</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Vicaria/Pertenece</th>
                            <th>Eliminar</th>
                            <th>Actualizar</th>
                        </tr>
    
                    </thead>
                    <tbody>
                        <tr th:each="Parroquia:${listaParroquias.getContent}">
                            <td th:text="${Parroquia.id}"></td>
                            <td th:text="${Parroquia.nombre}"></td>
                            <td th:text="${Parroquia.direccion}"></td>
                            <td th:text="${Parroquia.ciudad}"></td>
                            <td th:text="${Parroquia.telefono}"></td>
                            <td th:text="${Parroquia.Email}"></td>
                            <td th:text="${Parroquia.vicaria.nombreVicaria}"></td>
                            <td>
                                <a th:href="@{/parroquias/eliminarParroquia/{id}(id=${Parroquia.id})}">
                                    <button type="button" class="btn btn-outline-danger" >ELIMINAR</button>
                                </a>
                            </td>
                            <td>
                                <a
                                    th:href="@{/parroquias/formularioActualizarParroquia/{id}(id=${Parroquia.id})}">
                                    <button type="button" class="btn btn-outline-info">ACTUALIZAR</button>
                                </a>
                            </td>
    
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-center sm" >
			<nav aria-label="...">
				<ul class="pagination pagination-lg">
					<li class="page-item " aria-current="page" th:each="i: ${#numbers.sequence(0,listaParroquias.getTotalPages-1)}">
						<a th:href="@{/parroquias/listar(palabra=${palabra},page=${i})}" th:text="${i}" class="page-link"
							th:classappend="${currentPage}==${i}?'active':''"></a>
					</li>
				</ul>
			</nav>
			
		</div>
    </div>
	<script src="" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	<script src="" th:src="@{/js/bootstrap/jquery.js}"></script>
	<script th:src="@{/js/page.js}"></script>
	
</body>


</html>